body {
  background: url("../img/burger3.jpg");
  font-family: 'Dosis', sans-serif;
}

.jumbotron {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: bold;
  background: goldenrod;
  color: white;
  font-family: 'Baloo Paaji', cursive;
}
button {
  background: goldenrod;
  opacity: 1;
  color: white;
  border-radius: 4px;
}
.card {
  margin-bottom: 15px;
  opacity: .9;
}
.card-header {
  background: maroon;
  color: white;
}

.burger {
  padding: 5px;
  margin-bottom: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;	
}
#not-eaten, #eaten {
  width: 100%;
}

h4 {
  text-align: center;
}

#addBurgerCard {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
  padding: 10px;
}

@media screen and (max-width: 608px) {
  .container {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    padding: 8px;
    margin: 0 auto;
  }
  .jumbotron, #addBurgerCard, #not-eaten, #eaten  {
    width: 100%;
  }
}